%% -*- erlang -*-
{minimum_otp_vsn, "27.3"}.

{project_plugins, [rebar3_lint, erlfmt]}.

{erl_opts, [debug_info]}.
{deps, [
    {acmerl, {git, "https://github.com/sg2342/acmerl.git", {tag, "0.3.0"}}}
]}.

{alias, [{check, [fmt, lint, dialyzer, xref]}]}.

{shell, [{apps, [snierl]}]}.

{profiles, [
    {test, [
        {erlfmt, [check]},
        {dialyzer, [
            incremental,
            {warnings, [unmatched_returns, error_handling]},
            {plt_extra_apps, [acmerl, public_key]}
        ]},
        {xref_warnings, true},
        {xref_checks, [
            undefined_function_calls,
            undefined_functions,
            locals_not_used,
            exports_not_used,
            deprecated_function_calls,
            deprecated_functions
        ]}
    ]}
]}.

{elvis, [
    {config, [
        #{
            files => ["src/*.erl"],
            ruleset => erl_files
        },
        #{
            files => ["rebar.config"],
            ruleset => rebar_config
        }
    ]}
]}.
