%% -*- erlang -*-
{minimum_otp_vsn, "22.2"}.

{project_plugins, [rebar3_lint, erlfmt]}.

{erl_opts, [debug_info]}.
{deps, [
    {jsone, {git, "https://github.com/sile/jsone.git", {tag, "1.5.2"}}},
    {acmerl, {git, "https://github.com/sg2342/acmerl.git", {tag, "0.1.0"}}}
]}.

{alias, [{check, [fmt, lint, dialyzer, xref]}]}.

{shell, [{apps, [snierl]}]}.

{profiles, [
    {test, [
        {erlfmt, [check]},
        {dialyzer, [{warnings, [unmatched_returns, error_handling]}]},
        {dialyzer, [{plt_extra_apps, [acmerl]}]},
        {xref_warnings, true},
        {xref_checks, [
            undefined_function_calls,
            undefined_functions,
            locals_not_used,
            exports_not_used,
            deprecated_function_calls,
            deprecated_functions
        ]}
    ]}
]}.

{elvis, [
    #{
        dirs => ["src/**"],
        filter => "*.erl",
        ruleset => erl_files
    },
    #{
        dirs => ["."],
        filter => "rebar.config",
        ruleset => rebar_config
    }
]}.
